# rules for arise sound mod
type arise, domain;

binder_use(arise)

set_prop(arise, default_prop)
set_prop(arise, system_prop)
set_prop(arise, audio_prop)
set_prop(arise, config_prop)
set_prop(arise, bluetooth_prop)
allow arise devpts:chr_file ioctl;

# execute setprop in /system/su.d
allow arise system_file:file rx_file_perms;

# execute shell
allow arise shell_exec:file rx_file_perms;

# execute toolbox/toybox
allow arise toolbox_exec:file rx_file_perms;

# run iss_daemon
allow arise unlabeled:file rx_file_perms;

# write logs and dts configs
allow arise system_data_file:dir create_dir_perms;
allow arise system_data_file:file create_file_perms;

# find audioserver_service
allow arise audioserver_service:service_manager { find };
